<h1>Sign Up</h1>
<%= render 'shared/errors', object: @user %>
<%= form_for @user do |f| %>
	<div class="field">
		<%= f.text_field :name, placeholder: "e.g. John" %><label>Name</label>
	</div>
	<div class="field">
		<%= f.text_field :email, placeholder: "e.g. John@gmail.com" %><label>Email</label>
	</div>
	<div class="field">
		<%= f.text_field :password, placeholder: "Password" %><label>Password</label>
	</div>
	<div class="field">
		<%= f.text_field :password_confirmation, placeholder: "Re-type Password" %><label>Confirm Password</label>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
