<%= render 'shared/errors', object: @product %>

<%= form_for(@product) do |f| %>

	<div class="field">
		<%= f.text_field :name, placeholder: "Name" %>
	</div>
	<div class="field">
		<%= f.text_field :description, placeholder: "Description" %>
	</div>
	<div class="field">
		<%= f.text_field :price_in_cents, placeholder: "Price in Cents" %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>