<h1>All Products</h1>
<%= link_to 'Add a Product', new_product_path %>
<% if !current_user %>
	 | <%= link_to 'Sign Up', new_user_path %>
<% end %>
<br>
<% @products.each do |product| %>
	<p>
		Product:  <%= link_to product.name , product_path(product) %><br>
		Price: <%= product.formatted_price %><br>
		Description: <%= product.description %>
	</p>
<% end %>