<h1><%= @product.name %></h1>
<%= link_to 'Product Index', root_path %> | <%= link_to 'Edit', edit_product_path(@product) %> | <%= link_to "Delete", @product, method: :delete, data: { confirm: "Are you sure?" }, title: @product.name %><br>
<p>
	Price: <%= @product.formatted_price %><br>
	Description: <%= @product.description %>
</p>

<% if current_user %>
	<% if @product.reviews.count != 0 %>
		<h3>Reviews</h3>

		<% @product.reviews.each do |review| %>
			<% if review.user != nil %>
				<p>
					<%= review.comment %>
					<br>
					<em> by <%= review.user.name %></em>
					Added On: <%= review.created_at %>
					<% if current_user?(review.user) %>
						<%= link_to 'Edit', edit_product_review_path(@product, review) %>
						 | <%= link_to "Delete", [@product, review], method: :delete, data: { confirm: "Are you sure?" } %>
					<% end %>
				</p>
			<% end %>
		<% end %>
	<% end %>

	<h4>New Review</h4>
	<%= form_for([@product, @review]) do |f| %>
		<%= render 'reviews/form', f: f %>
	<% end %>
<% else %>
 <p>Please <%= link_to 'Log In', new_session_path %> to add a review.</p>
<% end %>

